<div class="section">
   <!--  <h3>{{headingTitle}}</h3>
    <div>
        <ul type="disc">
            <li>Address: Unit 10, Sydney, NSW, Australia</li>
            <li>Phone: 1111 2222</li>
            <li>Fax: 4444 5555</li>
        </ul>
    </div>-->
    
 
     <div class="panel panel-default" ng-controller="FileUploadController">
        <div class="panel-body">
            <form enctype="multipart/form-data">
                <div class="form-group">
                    <label for="myFileField">Selecciona un archivo: </label>
                    <input type="file" demo-file-model="myFile"  id ="myFileField"/>
                </div>
                <button ng-click="uploadFile()" class = "btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
    

<!-- <div data-ng-controller="HomeCtrl">
        	<form name="upload" ng-submit="uploadFile()">
                <input type="text" ng-model="name" /><br>
                <input type="file" name="file" uploader-model="file" /> <br>
                <input type="submit" value="Enviar"> 
            </form>
 </div> --> 

    
</div>